body {
    background-color: $white;
    color: $primery-text-color;
    font-family: $text-font,sans-serif;
    font-style: normal;
    font-weight: 400;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* секция*/
.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* портфолио */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
