/* футер */
.list .adress {
    display: inline-block;

    font-size: 14px;
    line-height: 1.7;
    color: $white;
    text-decoration: none;
    font-style: normal;
}

.list-contacts {
    display: inline-block;

    font-size: 14px;
    line-height: 24px;
    color: $list-contacts;
    text-decoration: none;
    font-style: normal;
}

.footer .footer-adress:not(:last-child) {
    margin-bottom: 9px;
}


.footer {
    display: flex;
    padding-top: 60px; 
    padding-bottom: 60px; 

    background-color: $background-footer;
}
.list-adress{
    margin-right: 70px;
    
}

.join-title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
}

.join-list .edit {
    background-color: $icon-color-edit;
   border-radius: 50%;
    
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
    background-color: $accent;
    }
}





.join-list {
    display: flex;
    
}

.join-list .item {
   
    margin-right: 10px;
}


.container-footer {
    display: flex;
    align-items: baseline;
}

.signForm {
    margin-left: 93px;
}

.signButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    margin-left: 12px;
    width: 200px;

    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $white;
    background-color: $accent;

    cursor: pointer;
}


.signIcon {
    margin-left: 10px;
    
}

.formInput {
    margin: 0;
    width: 358px;
    padding: 15px 16px;
    color: $white;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.formInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footerForm {
    display: flex;
}